version: '3.7'
services:
    python:
        image: ansys/stk/stk-parallel-computing-server-python:2.6.0-windowsservercore-ltsc2019
        build:
            context: ./python
            args:
                baseImage: ansys/stk/stk-engine-python:12.8.0-windowsservercore-ltsc2019
        volumes:
            - ./:C:/TEMP/
        environment:
            - COORDINATOR_HOSTNAME=coordinator
            - COORDINATOR_PORT=9090
        working_dir: C:/TEMP/
        networks:
            - stk-parallel-computing-server
networks:
    stk-parallel-computing-server:
        name: stk-parallel-computing-server
        external: true
