<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConstrainedAttitude.UiPlugin.Copier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ConstrainedAttitude.UiPlugin.Copier.Properties.Settings>
      <setting name="AssemblyName" serializeAs="String">
        <value>ConstrainedAttitude.UiPlugin</value>
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value>Constrained Attitude</value>
      </setting>
      <setting name="TypeName" serializeAs="String">
        <value>ConstrainedAttitude.UiPlugin.Setup</value>
      </setting>
    </ConstrainedAttitude.UiPlugin.Copier.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
