<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CAEndpointSOAP">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://comspocws/CA/ConjunctionAssessment/CAService.svc/SOAP"
                binding="wsHttpBinding" bindingConfiguration="CAEndpointSOAP"
                contract="ConjunctionAssessment.ICAServiceSOAP" name="CAEndpointSOAP" />
        </client>
    </system.serviceModel>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
