<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OperatorsToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <OperatorsToolbox.Properties.Settings>
      <setting name="InstallDir" serializeAs="String">
        <value>C:\ProgramData\AGI\STK 12\Plugins\OperatorsToolbox</value>
      </setting>
      <setting name="PanelHeight" serializeAs="String">
        <value>700</value>
      </setting>
    </OperatorsToolbox.Properties.Settings>
  </userSettings>
</configuration>