<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Extend_STK_Plugin_Graphics_RasterStream_Basic/src_test/agi/stk/plugin/graphics/rasterstream/basic/test/GifProviderTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="agi.stk.plugin.graphics.rasterstream.basic.test.GifProviderTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Extend_STK_Plugin_Graphics_RasterStream_Basic"/>
</launchConfiguration>
