version: '3.7'
services:
    agent:
        image: ansys/stk/stk-parallel-computing-server-agent:2.5-centos7
        build:
            context: ./agent
            args:
                baseImage: ansys/stk/stk-parallel-computing-server-python:2.5-centos7
        env_file: ../configuration/licensing.env
        environment:
            - COORDINATOR=coordinator
        networks:
            - stk-parallel-computing-server
    coordinator:
        image: ansys/stk/stk-parallel-computing-server-coordinator:2.5-centos7
        build:
            context: ./coordinator
            args:
                baseImage: centos:7
        ports:
            - 9090:9090
        networks:
            - stk-parallel-computing-server
networks:
    stk-parallel-computing-server:
        name: stk-parallel-computing-server
