version: '3.7'
services:
    stk-engine-custom-baseline:
        image: ansys/stk/stk-engine-custom-baseline:12.4.0-centos7
        build:
            context: .
            args:
                baseImage: ansys/stk/stk-engine-baseline:12.4.0-centos7
                pipIndexUrl: '' # Edit this value to be the index URL of your internal pip repository if you have one.
    custom-centos:
        image: custom/centos:7
        build:
            context: .
            args:
                baseImage: centos:7
                pipIndexUrl: '' # Edit this value to be the index URL of your internal pip repository if you have one.
