<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InsertTLEFromUDL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <InsertTLEFromUDL.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>selby.stout1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>WorldSnowPolo2012!</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>https://unifieddatalibrary.com/udl/elset?</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value>C:\Users\sstout\Documents\STK 11 (x64)\UDL_Data</value>
            </setting>
        </InsertTLEFromUDL.Properties.Settings>
    </userSettings>
</configuration>