version: '3.7'
services:
    stk-engine-jupyter:
        image: ansys/stk/stk-engine-jupyter:12.4.0-centos7
        build: 
            context: .
            args:
                baseImage: ansys/stk/stk-engine-python:12.4.0-centos7
        ports:
            - 8888:8888
        init: true # This enables the "tini" init tool for the entrypoint as recommended by Jupyter Lab
        volumes:
            - ./notebooks:/home/stk/notebooks
        env_file: ../configuration/licensing.env
        environment:
            JUPYTER_LAB_TOKEN: ansys-stk
